// COLOR
$pri-color: #2980B9;
$sec-color: #5DADE2;
$acc-color: #F39C12;
$net-color: #ECF0F1;
$txt-color: #2C3E50;

// BREAKPOINT
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// MARG & PAD
$s1: .25rem;
$s2: .5rem;
$s3: 1rem;
$s4: 1.5rem;
$s5: 3rem;